<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Daftar Pengguna Terdaftar</h2>
        <form action="{{ url_for('reset_data') }}" method="post" onsubmit="return confirm('Apakah Anda yakin ingin mereset semua data?');">
            <button type="submit" class="btn btn-danger">Reset Data</button>
        </form>
        
        <div class="row">
            {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ user['photo1_url'] }}" class="card-img-top" alt="Foto 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ user['name'] }}</h5>
                        <p class="card-text">{{ user['instagram_account'] }}</p>
                        <a href="{{ user['photo1_url'] }}" class="btn btn-primary" target="_blank">Lihat Foto 1</a>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
